<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="javaSeleniumTestNGMaven" parallel="classes">
	<!-- Call listener class in testng.xml to generate extent report while compile 
		and run through Maven -->
	<listeners>
		<listener class-name="utills.TestListener" />
	</listeners>
	<!-- To run classes, methods or tests parallel -->
	<!-- Increase thread count to spin up more browsers -->
	<test name="regression" parallel="classes" thread-count="1">
		<classes>
			<class name="com.automationpractice.basicflow.TestBasicFlow" />
		</classes>
	</test>
</suite>